---
Language: Json
IndentWidth: 4
UseTab: Never
---
Language: Cpp
BasedOnStyle: Google
# BasedOnStyle: WebKit
# ColumnLimit: 123
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: false
IndentWidth: 2
InsertNewlineAtEOF: true
PointerAlignment: Right
SpacesBeforeTrailingComments: 0
UseTab: Never
#
AlignTrailingComments:
  # Kind: Never
  Kind: Always
  OverEmptyLines: 1
