---
Language: Json
IndentWidth: 4
UseTab: Never
---
Language: Cpp
BasedOnStyle: WebKit
# XXX ColumnLimit: 123
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
NamespaceIndentation: None
PointerAlignment: Right
SpacesBeforeTrailingComments: 1
UseTab: Never
#
AlignTrailingComments:
  # XXX Kind: Never
  Kind: Always
  OverEmptyLines: 1
